*.suo
*.sdf
*.obj
*.a
*if1live*
armeabi
/buildTmp
NUL
/ipch
/buildResult
*.opensdf
/soraTest/mioTest/test.txt
/soraTest/test.txt
/soraTest/buildTmp
/Debug
/kurisuSample/Debug
/third_party/boost
/base/Debug
/base_test/Debug
/component/Debug
/component_test/Debug
/rendering/Debug
/devel/Debug
/third_party/gtest
/third_party/freeglut
*Debug*
*.user
*Release*
*NUL
*/assets/*
*/gen/*
*/bin/*
/yukino/.classpath
/yukino/.project
/yukino/.settings/org.eclipse.jdt.core.prefs
/yukino/default.properties
/yukino/project.properties
drawable_
