/third_party/boost_1_46_1
/third_party/gtest-1.6.0
/third_party/soil
/third_party/glew
/third_party/glfw
/third_party/tinyxml
/sdk/boost_1_46_1
/sdk/gtest-1.6.0
/sdk/gtest
/sdk/boost
/sdk/soil
/sdk/glew
/sdk/glfw
/sdk/tinyxml
*.suo
*.sdf
*.obj
*.a
armeabi
/buildTmp
NUL
/ipch
/buildResult
*.opensdf
/soraTest/mioTest/test.txt
/soraTest/test.txt
/soraTest/buildTmp
/Debug
/kurisuSample/Debug
/third_party/boost
/base/Debug
/base_test/Debug
/component/Debug
/component_test/Debug
/rendering/Debug
/devel/Debug
/third_party/gtest
/third_party/freeglut
*Debug*
*.user
*Release*
*NUL
*/assets/*
*/gen/*
*/bin/*
/yukino/.classpath
/yukino/.project
/yukino/.settings/org.eclipse.jdt.core.prefs
/yukino/default.properties
/yukino/project.properties